---
layout: base.njk
title: "Hello World"
description: "My first blog post test"
date: 2026-09-03
author: "Your Name"
permalink: false
---
This is a test post to confirm Eleventy is wired up correctly.
It is excluded from the build (permalink: false) since it was just a wiring test.
You can delete this file entirely whenever convenient.